In [5]:
from railroad import load_graph, save_graph
import pandas as pd

In [6]:
G = load_graph('../data/reykjavik_road_graph_with_bridges.json')

In [7]:
stations_df = pd.read_csv('../data/6_stations_to_years.csv')
display(stations_df)

    intersection_id  year   comment
0       11142383860  2025       NaN
1       12339218091  2025       NaN
2         323282788  2025       NaN
3        1064270444  2025       NaN
4          59980770  2025       NaN
5          26471951  2025       NaN
6        1225420655  2025       NaN
7       12339218093  2025       NaN
8          34512506  2025       NaN
9        5902567606  2025       NaN
10       1229320617  2025       NaN
11         87132867  2025       NaN
12         59981798  2025  optional
13       1206684191  2025       NaN
14        534441279  2025       NaN
15        470330027  2025       NaN
16       2320771865  2025       NaN
17        111465687  2025       NaN
18        602729079  2025       NaN
19       1848219055  2025       NaN
20         35786587  2025       NaN
21         34186922  2025       NaN
22       5048474491  2025       NaN
23       5048627590  2025  optional
24        167293099  2025  optional
25        167293023  2025  optional
26       1344359843  2025  optional
27         87135172  2025  optional
28       1232404889  2025  optional
29       2328470640  2025  optional
30       1208295444  2025  optional
31         26471908  2029       NaN
32         26478210  2029       NaN
33         35786592  2029       NaN
34       1201238872  2029       NaN
35       1014129863  2029       NaN
36       1201099500  2029       NaN
37        406311222  2029       NaN
38         26471976  2029  optional
39        137868463  2030       NaN
40       1445535410  2030       NaN
41         14587161  2030       NaN
42       4425983363  2030       NaN
43       5007537719  2030       NaN

In [8]:
coord_x, coord_y = [], []

for i, row in stations_df.iterrows():
    id = row['intersection_id']
    point = G.nodes[id]['geometry']
    coord_x.append(point.x)
    coord_y.append(point.y)

stations_df['coord_x'] = coord_x
stations_df['coord_y'] = coord_y
display(stations_df)
stations_df.to_csv('../data/6_stations_to_years_with_coords.csv', index=False)

    intersection_id  year   comment    coord_x    coord_y
0       11142383860  2025       NaN -21.937045  64.115172
1       12339218091  2025       NaN -21.931079  64.123404
2         323282788  2025       NaN -21.928775  64.126469
3        1064270444  2025       NaN -21.931328  64.138245
4          59980770  2025       NaN -21.936397  64.138822
5          26471951  2025       NaN -21.947765  64.142722
6        1225420655  2025       NaN -21.935516  64.147771
7       12339218093  2025       NaN -21.914030  64.143340
8          34512506  2025       NaN -21.904019  64.142270
9        5902567606  2025       NaN -21.883583  64.140061
10       1229320617  2025       NaN -21.863304  64.130368
11         87132867  2025       NaN -21.820929  64.128997
12         59981798  2025  optional -21.796761  64.134480
13       1206684191  2025       NaN -21.789312  64.149755
14        534441279  2025       NaN -21.918009  64.111199
15        470330027  2025       NaN -21.908989  64.111140
16       2320771865  2025       NaN -21.881881  64.102416
17        111465687  2025       NaN -21.872102  64.099207
18        602729079  2025       NaN -21.843871  64.089762
19       1848219055  2025       NaN -21.809613  64.085627
20         35786587  2025       NaN -21.898348  64.133043
21         34186922  2025       NaN -21.853863  64.125969
22       5048474491  2025       NaN -21.863870  64.151028
23       5048627590  2025  optional -21.900132  64.145850
24        167293099  2025  optional -21.943477  64.135702
25        167293023  2025  optional -21.952710  64.138698
26       1344359843  2025  optional -21.846877  64.127126
27         87135172  2025  optional -21.836787  64.127281
28       1232404889  2025  optional -21.894170  64.140207
29       2328470640  2025  optional -21.887291  64.110063
30       1208295444  2025  optional -21.812020  64.128668
31         26471908  2029       NaN -21.983153  64.151134
32         26478210  2029       NaN -21.940826  64.156250
33         35786592  2029       NaN -21.900101  64.130523
34       1201238872  2029       NaN -21.840729  64.109986
35       1014129863  2029       NaN -21.812963  64.119724
36       1201099500  2029       NaN -21.827157  64.099336
37        406311222  2029       NaN -21.772341  64.103876
38         26471976  2029  optional -21.952858  64.152780
39        137868463  2030       NaN -21.928625  64.090662
40       1445535410  2030       NaN -21.958711  64.068357
41         14587161  2030       NaN -21.974055  64.052802
42       4425983363  2030       NaN -21.913882  64.075073
43       5007537719  2030       NaN -21.906717  64.084633